[submodule "imgui/Imgui"]
	path = imgui/Imgui
	url = https://github.com/ocornut/imgui
[submodule ".\\imgui\\Imgui"]
	branch = docking
[submodule "imgui/Implot"]
	path = imgui/Implot
	url = https://github.com/epezent/implot
[submodule "imgui/Imgui_club"]
	path = imgui/Imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "imgui/Imspinner"]
	path = imgui/Imspinner
	url = https://github.com/dalerank/imspinner
[submodule "imgui/Imgui-filebrowser"]
	path = imgui/Imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "imgui/imgui_toggle"]
	path = imgui/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle
[submodule "imgui/IconFontCppHeaders"]
	path = imgui/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
